:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

main {
    padding: 4rem 0;
}

footer {
    margin: auto;
    max-width: 40vw;
    border-top: 1px solid #c4c4c4;
    margin-top: 4rem;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}